*{
    font-family: Garamond;
}
header{
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
}
main{
    width: 80%;
    height: 600px;
}
#boczny{
    background-color: coral;
     width: 20%;
    height: 680px;
}
footer{
    background-color: tomato;
    color: white;
    text-align: center;
}
img{
    border-radius: 50%;
    padding: 0 10px;
}
#chat{
    border: solid 1px tomato;
    margin: 15px;
    height: 470px;
    overflow: scroll;
}
.Jolanta, .Krzysztof{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}
.Jolanta{
    background-color: #eee;
}
.Jolanta p,.Jolanta img{
    float: left;
}
.Krzysztof{
    background-color: #ccc;
}
.Krzysztof p,.Krzysztof img{
    float: right;
}
button{
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font-weight: bold;
}
input{
    width: 500px;
}
header, main{
    float: left;
}
#boczny{
    float: right;
}
footer{clear: both;}
