*{font-family: Helvetica;}
body{background: #EAEAEA;}
menu,footer{
    background-color: #625B5B;
    color: white;
    padding: 20px;
    text-align: center;
}
img{width: 100%;}
ul{margin-left: 20px;
list-style-type: circle;
}
menu a{
    font-weight: bold;
    background-color: #EAEAEA;
    color: #625B5B;
    padding: 10px;
    margin: 50px;
    border-radius: 20px;
}
menu a:hover{
    background-color: #625B5B;
    color: #EAEAEA;
    border: solid #EAEAEA 1px;
}
table{
    border: #625B5B 1px dashed;
    width: 60%;
    margin-left: 40px;
    text-align: center;
}
.kontrolki{
    margin: 5px;
}