* {
    font-family: "Trebuchet MS", sans-serif;
}

body {
    background-color: BlanchedAlmond;
    text-align: center;
}

#boczny {
    width: 20%;
    float: left;
}

#boczny img {
    width: 100%;
}

#glowny {
    width: 80%;
    float: left;
}

nav {
    text-align: left;
    margin-left: 10%;
}

section {
    background-color: Salmon;
    margin-left: 10%;
    padding: 10px;
    height: 250px;
}

#sekcja1 {
    display: block;
}

#sekcja2,
#sekcja3 {
    display: none;
}

button {
    width: 26%;
    color: white;
    border: none;
    font-size: 200%;
}

#btn1 {
    background-color: Salmon;
}

#btn2,
#btn3 {
    background-color: Crimson;
}

.wzory {
    width: 70px;
    margin: 5px;
    border-radius: 100%;
}